/* Estilos para a página HTML */

body {

font-family: Arial, sans-serif;
font-size: 1;

background-color: #d8ffcc;

margin: 0;

padding: 20px;

}

h1 {

color: #4aedd7;

}

p {

color: #d0cf75;

}

/* Estilos para a classe .destaque */

.destaque {

background-color: #fa2a00

padding: 10px;

}
